<div class="w-screen h-screen flex justify-center items-center bg-gradient-to-r from-gray-200 via-gray-300 to-gray-400" style="font-family: 'Poppins', sans-serif;">
  <form class="p-10 bg-white rounded-lg flex justify-center items-center flex-col shadow-xl transform transition-transform duration-300 hover:scale-105" (ngSubmit)="login()">
    
    <div class="flex flex-col items-center mb-5">
      <img src="/img/logo-2.jpg" class="w-24 h-22 mb-3" alt="Services Logo">
      <p class="text-3xl font-bold text-gray-800">Inicia Sesion</p>
    </div>

    <p class="mb-4 text-lg text-gray-600 font-medium">Bienvenido a nuestra pagina</p>

    <!-- Mensaje de error si los campos no son completados -->
    <div *ngIf="formErrorMessage" class="text-red-500 text-sm mb-4">{{ formErrorMessage }}</div>

    <!-- Cambiar "Correo electrónico" por "Nickname" -->
    <input type="text" name="nickname" [(ngModel)]="usuario" 
           class="mb-4 p-3 w-80 border border-gray-300 rounded-lg shadow-md focus:border-green-400 focus:ring-2 focus:ring-green-200 outline-none transition-all duration-300"
           placeholder="Nickname" required>
  
    <div class="relative w-80 mb-4">
      <input type="{{ passwordVisible ? 'text' : 'password' }}" name="password" [(ngModel)]="contrasena" 
             class="p-3 w-full border border-gray-300 rounded-lg shadow-md focus:border-green-400 focus:ring-2 focus:ring-green-200 outline-none transition-all duration-300"
             placeholder="Contraseña" required>
      <button type="button" (click)="togglePasswordVisibility()" class="absolute right-3 top-3 text-gray-600">
        <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>

    <button class="bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-6 rounded-lg w-80 transition-transform transform hover:scale-110 hover:shadow-lg mb-4" 
            type="submit">
      Iniciar Sesión
    </button>

    <p class="text-gray-600">
      ¿No tienes cuenta? 
      <a href="/registro" class="text-green-600 hover:text-green-800 font-medium transition-colors duration-300">Regístrate</a>
    </p>
  </form>
</div>
