<div class="flex bg-[#F0F4FF] min-h-screen">
    <app-sidebar></app-sidebar>

    <div class="flex-grow p-6 relative">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-4xl mx-auto p-6 overflow-auto mb-12">
            <h3 class="text-xl text-center mb-6" style="color: #161a2d;">
                Formulario para Editar Carro
            </h3>

            <form [formGroup]="carForm" (ngSubmit)="editarCarro($event)">
                <!-- Start of Grid Layout -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <!-- Campo Marca -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-car text-[#4f52ba] mr-3"></i>
                            <input
                                type="text"
                                placeholder="Marca"
                                formControlName="marca"
                                required
                                aria-label="Marca del carro"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                            />
                        </div>
                        <div *ngIf="carForm.get('marca')?.invalid && (carForm.get('marca')?.dirty || carForm.get('marca')?.touched)" class="text-red-500">
                            Marca Requerida
                        </div>
                    </div>

                    <!-- Campo Modelo -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-cogs text-[#4f52ba] mr-3"></i>
                            <input
                                type="text"
                                placeholder="Modelo"
                                formControlName="modelo"
                                required
                                aria-label="Modelo del carro"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                            />
                        </div>
                        <div *ngIf="carForm.get('modelo')?.invalid && (carForm.get('modelo')?.dirty || carForm.get('modelo')?.touched)" class="text-red-500">
                            Modelo Requerido
                        </div>
                    </div>

                    <!-- Campo Año -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-calendar-alt text-[#4f52ba] mr-3"></i>
                            <input
                                type="number"
                                placeholder="Año"
                                formControlName="anio"
                                required
                                aria-label="Año del carro"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                                min="1886"
                            />
                        </div>
                        <div *ngIf="carForm.get('anio')?.invalid && (carForm.get('anio')?.dirty || carForm.get('anio')?.touched)" class="text-red-500">
                            Año requerido
                        </div>
                    </div>

                    <!-- Campo Color -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-paint-brush text-[#4f52ba] mr-3"></i>
                            <input
                                type="text"
                                placeholder="Color"
                                formControlName="color"
                                required
                                aria-label="Color del carro"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                            />
                        </div>
                        <div *ngIf="carForm.get('color')?.invalid && (carForm.get('color')?.dirty || carForm.get('color')?.touched)" class="text-red-500">
                            Color Requerido
                        </div>
                    </div>

                    <!-- Campo Tipo de Combustible -->
                    <div class="mb-4">
                        <div class="flex items-center">
                            <i class="fas fa-gas-pump text-[#4f52ba] mr-2"></i>
                            <select
                                formControlName="tipo_combustible"
                                required
                                aria-label="Tipo de combustible"
                                class="w-full p-2 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                            >
                                <option value="" disabled selected>Tipo de Combustible</option>
                                <option value="Gasolina">Gasolina</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Híbrido">Híbrido</option>
                            </select>
                        </div>
                        <div *ngIf="carForm.get('tipo_combustible')?.invalid && (carForm.get('tipo_combustible')?.dirty || carForm.get('tipo_combustible')?.touched)" class="text-red-500">
                            Tipo de combustible es requerido.
                        </div>
                    </div>

                    <!-- Campo Precio Diario -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-dollar-sign text-[#4f52ba] mr-3"></i>
                            <input
                                type="number"
                                placeholder="Precio Diario"
                                formControlName="precio_diaro"
                                required
                                aria-label="Precio diario"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                                min="0"
                            />
                        </div>
                        <div *ngIf="carForm.get('precio_diaro')?.invalid && (carForm.get('precio_diaro')?.dirty || carForm.get('precio_diaro')?.touched)" class="text-red-500">
                            Precio Diario Requerido
                        </div>
                    </div>

                    <!-- Campo Disponibilidad -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-calendar-check text-[#4f52ba] mr-3"></i>
                            <select
                                formControlName="disponibilidad"
                                required
                                aria-label="Disponibilidad del carro"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                            >
                                <option value="" disabled selected>Disponibilidad</option>
                                <option value="Disponible">Disponible</option>
                                <option value="No Disponible">No Disponible</option>
                            </select>
                        </div>
                        <div *ngIf="carForm.get('disponibilidad')?.invalid && (carForm.get('disponibilidad')?.dirty || carForm.get('disponibilidad')?.touched)" class="text-red-500">
                            Disponibilidad Requerida
                        </div>
                    </div>

                    <!-- Campo Categoría -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-tags text-[#4f52ba] mr-3"></i>
                            <select
                                formControlName="categoria"
                                required
                                aria-label="Categoría del carro"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                            >
                                <option value="" disabled selected>Categoría</option>
                                <option value="SUV">SUV</option>
                                <option value="Sedán">Sedán</option>
                                <option value="Camioneta">Camioneta</option>
                            </select>
                        </div>
                        <div *ngIf="carForm.get('categoria')?.invalid && (carForm.get('categoria')?.dirty || carForm.get('categoria')?.touched)" class="text-red-500">
                            Categoría Requerida
                        </div>
                    </div>

                    <!-- Campo Pasajeros -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-users text-[#4f52ba] mr-3"></i>
                            <input
                                type="number"
                                placeholder="Pasajeros"
                                formControlName="pasajeros"
                                required
                                aria-label="Número de pasajeros"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                                min="1"
                            />
                        </div>
                        <div *ngIf="carForm.get('pasajeros')?.invalid && (carForm.get('pasajeros')?.dirty || carForm.get('pasajeros')?.touched)" class="text-red-500">
                            Pasajeros Requeridos
                        </div>
                    </div>

                    <!-- Campo Puertas -->
                    <div class="mb-5">
                        <div class="flex items-center">
                            <i class="fas fa-door-open text-[#4f52ba] mr-3"></i>
                            <input
                                type="number"
                                placeholder="Puertas"
                                formControlName="puertas"
                                required
                                aria-label="Número de puertas"
                                class="w-full p-3 border border-gray-300 rounded-md focus:border-[#4f52ba] focus:outline-none transition duration-300"
                                min="1"
                            />
                        </div>
                        <div *ngIf="carForm.get('puertas')?.invalid && (carForm.get('puertas')?.dirty || carForm.get('puertas')?.touched)" class="text-red-500">
                            Puertas Requeridas
                        </div>
                    </div>
                </div>
                <!-- End of Grid Layout -->

                <!-- Submit Button -->
                <button
                    type="submit"
                    [disabled]="carForm.invalid"
                    class="w-full p-3 bg-[#4f52ba] text-white rounded-md hover:bg-[#3e449f] focus:outline-none transition duration-300 mt-6"
                >
                    Guardar Cambios
                </button>
            </form>
        </div>
    </div>
</div>
