<div class="flex bg-[#F0F4FF]">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Contenido Principal -->
  <div class="flex-1 p-6 ml-[85px]">
    <!-- Título principal -->
    <h2 class="text-3xl font-semibold text-gray-800 mb-6">Clientes Registrados</h2>

    <!-- Tabla de Clientes -->
    <div class="bg-white p-6 rounded-lg shadow-xl">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Lista de Clientes</h3>

      <!-- Tabla de Clientes -->
      <table class="min-w-full border-collapse bg-white rounded-lg shadow-lg overflow-hidden">
        <thead class="bg-[#edf2f7]">
          <tr>
            <th class="px-6 py-3 border-b text-left text-sm font-medium text-[#4a5568]">ID Cliente</th>
            <th class="px-6 py-3 border-b text-left text-sm font-medium text-[#4a5568]">Nombre</th>
            <th class="px-6 py-3 border-b text-left text-sm font-medium text-[#4a5568]">Nombre de Usuario</th>
            <th class="px-6 py-3 border-b text-left text-sm font-medium text-[#4a5568]">Correo Electrónico</th>
            <th class="px-6 py-3 border-b text-left text-sm font-medium text-[#4a5568]">Fecha de Registro</th>
            <th class="px-6 py-3 border-b text-left text-sm font-medium text-[#4a5568]">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of paginatedClientes" class="hover:bg-[#f7fafc] border-t">
            <td class="px-6 py-4 text-sm text-[#4a5568]">{{ cliente.id }}</td>
            <td class="px-6 py-4 text-sm text-[#4a5568]">{{ cliente.nombre_completo }}</td>
            <td class="px-6 py-4 text-sm text-[#4a5568]">{{ cliente.nombre_usuario }}</td>
            <td class="px-6 py-4 text-sm text-[#4a5568]">{{ cliente.correo }}</td>
            <td class="px-6 py-4 text-sm text-[#4a5568]">{{ cliente.fecha_creacion }}</td>
            <td class="px-6 py-4 flex space-x-2">
              <button
                class="text-white bg-[#4299e1] px-4 py-2 rounded hover:bg-[#3182ce] transition duration-300"
                (click)="verHistorial(cliente.id)" title="Ver Historial">
                <i class="fas fa-history mr-2"></i>Historial
              </button>
              <button
                class="text-white bg-[#e53e3e] px-4 py-2 rounded hover:bg-[#c53030] transition duration-300"
                (click)="deleteUser(cliente.id)" title="Eliminar">
                <i class="fas fa-trash-alt mr-2"></i>Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
     
      
      
      
      
      
      
      

      <!-- Paginación -->
      <div class="flex justify-center mt-6">
        <!-- Botón de "Anterior" con ícono y tooltip -->
        <button
          class="bg-gray-200 px-6 py-3 rounded-l-lg text-gray-700 font-semibold hover:bg-gray-300 transition-all"
          [disabled]="currentPage === 1"
          (click)="onPageChange(currentPage - 1)" title="Página Anterior">
          <i class="fas fa-chevron-left mr-2"></i> <!-- Ícono de anterior -->
          
        </button>

        <!-- Indicador de la página actual -->
        <span class="px-4 py-3 text-lg font-semibold">{{ currentPage }} de {{ totalPages }}</span>

        <!-- Botón de "Siguiente" con ícono y tooltip -->
        <button
          class="bg-gray-200 px-6 py-3 rounded-r-lg text-gray-700 font-semibold hover:bg-gray-300 transition-all"
          [disabled]="currentPage === totalPages"
          (click)="onPageChange(currentPage + 1)" title="Página Siguiente">
          <i class="fas fa-chevron-right mr-2"></i> <!-- Ícono de siguiente -->
          
        </button>
      </div>
    </div>
  </div>
</div>
