<div class="flex h-screen bg-[#F0F4FF]">
  <app-sidebar></app-sidebar>
  <main class="flex-1 p-5 overflow-y-auto">
    <h1 class="text-2xl font-bold text-[#161a2d] mb-6">
      Vehículos Registrados
    </h1>

    <div class="mb-4 flex justify-start space-x-4">
      <!-- Botón para agregar carro -->
      <button
        (click)="agregarCarro()"
        class="bg-[#48bb78] text-white px-5 py-3 rounded-lg shadow-md hover:bg-[#38a169] hover:shadow-lg transition-all duration-300 transform hover:scale-105"
      >
        Agregar Carro
      </button>
    
      <!-- Botón para carros en mantenimiento -->
      <button
      (click)="CarrosMantenimiento()"
        class="bg-[#3182ce] text-white px-5 py-3 rounded-lg shadow-md hover:bg-[#2b6cb0] hover:shadow-lg transition-all duration-300 transform hover:scale-105"
      >
        Carros en Mantenimiento
      </button>
    </div>
    

    

    <div class="bg-white p-5 rounded shadow-md mb-4">
      <h2 class="text-xl font-semibold text-[#4a5568] mb-4">
        Listado de Vehículos
      </h2>
      <table class="w-full border-collapse mb-4 text-left">
        <thead>
          <tr>
          
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Marca</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Modelo</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Año</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Color</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Tipo de Combustible</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Precio Diario</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Disponibilidad</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Categoría</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Imagen</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Acciones</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Mantenimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carro of paginatedCarros" class="hover:bg-[#f7fafc]">
          
            <td class="border p-2 truncate">{{ carro.marca }}</td>
            <td class="border p-2 truncate">{{ carro.modelo }}</td>
            <td class="border p-2">{{ carro.anio }}</td>
            <td class="border p-2">{{ carro.color }}</td>
            <td class="border p-2 truncate">{{ carro.tipo_combustible }}</td>
            <td class="border p-2">{{ carro.precio_diaro | currency }}</td>
            <td class="border p-2">
              {{ carro.disponibilidad || "No disponible" }}
            </td>
            <td class="border p-2">{{ carro.categoria }}</td>
            <td class="border p-2 text-center">
              <img
                *ngIf="carro.imagen"
                [src]="'http://localhost:3500/' + carro.imagen"
                alt="{{ carro.modelo }}"
                class="w-16 h-15 mx-auto rounded"
              />
            </td>
            <td class="border p-2 space-x-1 text-center">
              <button
                (click)="editarCarro(carro.id)"
                class="bg-[#3182ce] text-white px-2 py-1 rounded hover:bg-[#2b6cb0] transition duration-300"
              >
                Editar
              </button>
              <button
                (click)="eliminarCarro(carro.id)"
                class="bg-[#e53e3e] text-white px-2 py-1 rounded hover:bg-[#c53030] transition duration-300"
              >
                Eliminar
              </button>
            </td>
            <td class="border p-2 space-x-1 text-center">
              <div class="flex items-center space-x-4 w-full">
                <button
                  (click)="crearMantenimiento(carro.id)"
                  [disabled]="!mantenimientoData[carro.id]"
                  class="bg-[#d69e2e] text-white px-4 py-2 rounded hover:bg-[#b7791f] transition duration-300 w-auto"
                >
                  Mantenimiento
                </button>

                <!-- Listbox para seleccionar el tipo de mantenimiento -->
                <div class="w-1/2">
                  <select
                    [(ngModel)]="mantenimientoData[carro.id]"
                    (ngModelChange)="setTipoMantenimiento(carro.id, $event)"
                    class="border border-gray-300 rounded px-4 py-2 bg-white text-gray-700 focus:ring-2 focus:ring-[#b7791f] focus:outline-none w-full"
                  >
                    <option value="" disabled selected>Seleccione un tipo de mantenimiento</option>
                    <option
                      *ngFor="let option of tipoMantenimientoOptions"
                      [value]="option"
                    >
                      {{ option | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="flex justify-center mb-4">
        <button
          (click)="changePage(currentPage - 1)"
          [disabled]="currentPage === 1"
          class="bg-[#4299e1] text-white px-4 py-2 rounded hover:bg-[#3182ce] transition duration-300"
        >
          Anterior
        </button>
        <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>
        <button
          (click)="changePage(currentPage + 1)"
          [disabled]="currentPage === totalPages"
          class="bg-[#4299e1] text-white px-4 py-2 rounded hover:bg-[#3182ce] transition duration-300"
        >
          Siguiente
        </button>
      </div>
    </div>
  </main>
</div>
