<div class="flex h-screen bg-[#F0F4FF]">
  <app-sidebar></app-sidebar>
  <main class="flex-1 p-5 overflow-y-auto">
    <h1 class="text-2xl font-bold text-[#161a2d] mb-6">Vehículos Registrados</h1>

    <div class="mb-4 flex justify-start">
      <button (click)="agregarCarro()" class="bg-[#48bb78] text-white px-3 py-2 rounded hover:bg-[#38a169] transition duration-300">Agregar Carro</button>
    </div>

    <div class="bg-white p-5 rounded shadow-md mb-4">
      <h2 class="text-xl font-semibold text-[#4a5568] mb-4">Listado de Vehículos</h2>
      <table class="w-full border-collapse mb-4 text-left">
        <thead>
          <tr>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Marca</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Modelo</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Año</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Color</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Tipo de Combustible</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Precio Diario</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Disponibilidad</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Categoría</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Imagen</th>
            <th class="border p-2 bg-[#edf2f7] text-[#4a5568]">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carro of paginatedCarros" class="hover:bg-[#f7fafc]">
            <td class="border p-2 truncate">{{ carro.marca }}</td>
            <td class="border p-2 truncate">{{ carro.modelo }}</td>
            <td class="border p-2">{{ carro.anio }}</td>
            <td class="border p-2">{{ carro.color }}</td>
            <td class="border p-2 truncate">{{ carro.tipo_combustible }}</td>
            <td class="border p-2">{{ carro.precio_diaro | currency }}</td>
            <td class="border p-2">{{ carro.disponibilidad || 'No disponible' }}</td>
            <td class="border p-2">{{ carro.categoria }}</td>
            <td class="border p-2 text-center">
              <img *ngIf="carro.imagen" 
                   [src]="'http://localhost:3500/' + carro.imagen" 
                   alt="{{ carro.modelo }}" 
                   class="w-16 h-15  mx-auto rounded">
            </td>
            <td class="border p-2 space-x-1 text-center">
              <button (click)="editarCarro(carro.id)" class="bg-[#3182ce] text-white px-2 py-1 rounded hover:bg-[#2b6cb0] transition duration-300">Editar</button>
              <button (click)="confirmDelete(carro.id)" class="bg-[#e53e3e] text-white px-2 py-1 rounded hover:bg-[#c53030] transition duration-300">Eliminar</button>
              <button class="bg-[#d69e2e] text-white px-2 py-1 rounded hover:bg-[#b7791f] transition duration-300">Mantenimiento</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="flex justify-center mb-4">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="bg-[#4299e1] text-white px-4 py-2 rounded hover:bg-[#3182ce] transition duration-300">Anterior</button>
        <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="bg-[#4299e1] text-white px-4 py-2 rounded hover:bg-[#3182ce] transition duration-300">Siguiente</button>
      </div>
    </div>
  </main>
</div>
