<nav class="bg-gray-800 text-white p-4 shadow-md relative z-50">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-2xl font-bold">RentaDrive</div>
        <ul class="flex space-x-4">
            <li><a class="hover:text-blue-400 transition duration-300 ease-in-out" href="/usuario">Principal</a></li>
            <li><a class="hover:text-blue-400 transition duration-300 ease-in-out" href="/carros">Carros</a></li>
            <li><a class="hover:text-blue-400 transition duration-300 ease-in-out" href="/historial">Historial</a></li>
            <li class="relative group">
                <a (click)="toggleProfileDropdown()" class="hover:text-blue-400 transition duration-300 ease-in-out cursor-pointer">Perfil</a>
                <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg transition-opacity duration-300 z-50"
                    [ngClass]="{'opacity-0 pointer-events-none': !isProfileDropdownOpen, 'opacity-100': isProfileDropdownOpen}">
                    <a *ngIf="!isLoggedIn" href="/login" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Iniciar Sesión</a>
                    <a *ngIf="!isLoggedIn" href="/registro" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Registrarse</a>
                    <a *ngIf="isLoggedIn" (click)="logout()" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cerrar Sesión</a>
                </div>
            </li>
            <li class="relative group">
                <a (click)="toggleNotificationDropdown()" class="hover:text-blue-400 transition duration-300 ease-in-out cursor-pointer" aria-label="Notificaciones">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405 1.405A2 2 0 0117 22H7a2 2 0 01-1.595-3.595L5 17h5m0-10a3 3 0 00-3-3 3 3 0 00-3 3c0 1.659 1.343 3 3 3h6a3 3 0 00-3-3z"></path>
                    </svg>
                    <span class="absolute top-0 right-0 block w-3 h-3 bg-red-500 rounded-full"></span>
                </a>
                <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg transition-opacity duration-300 z-50"
                    [ngClass]="{'opacity-0 pointer-events-none': !isNotificationDropdownOpen, 'opacity-100': isNotificationDropdownOpen}">
                    <div class="p-2">
                        <p class="text-gray-800 font-bold">Notificaciones</p>
                        <div *ngIf="notifications.length === 0" class="text-gray-600">No hay notificaciones recientes.</div>
                        <div *ngFor="let notification of notifications">
                            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">{{ notification }}</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
